<div class="am-show-portrait">
    <div class="am-container">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="padding:1px">
                <div class="wapcatname" style="padding: 1px;text-align: center;">FB--购买请看售后说明！</div>
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="border-bottom: #ccc 1px dashed">
                <div style="background-color: #fff;height: 65px">
                    <div style="padding:0px">
                        <a href="/trade/81.html" style="color: #3c3c3c;">
                            <img class="am-radius" alt="微软邮箱注册FB白号###不包登录无售后" src="static/picture/1557323571.png" width="60" height="60" style="float: left" />
                            <div class="index-goodname-xq" style="height:38px;color:#333;">
                                <p title="微软邮箱注册FB白号###不包登录无售后" style="margin-left:5px;font-size: 10px">微软邮箱注册FB白号###不包登录无售后</p>
                            </div>
                            <div class="am-text-truncate" style="margin-left: 15px;">
                                <div style="">
                                    <span class="am-badge am-badge-primary" style="margin-left: 5px">库存(353)</span>
                                    <span class="am-badge am-badge-danger">销量(2292)</span>
                                    <span style="color: #ff0000">
                                        <b>¥0.60</b>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>