        <footer>
           <!--  <div class="ftr-top">
                <div class="container">
                    <div class="flex">
                        <div class="col-33">
                            <a href="/" class="ftr-logo">
                                <img src="/template/accsmarket/picture/logo.png" alt="">
                                <span>market.com</span>
                            </a>
                        </div>
                        <div class="col-33">
                            <li>
                                <a href="/" class="footer_menu' active' ">
                                    Shop </a>
                            </li>
                            <li>
                                <a href="/en/info" class="footer_menu">
                                    Useful information </a>
                            </li>
                            <li>
                                <a href="/en/rules" class="footer_menu">
                                    Rules </a>
                            </li>
                        </div>
                        <div class="col-33 ftr-last-col">
                            <ul>
                                <li class="gold-sp"><a id="footer_provider" href="/en/partnerfaq">Partners</a></li>
                                <li class="green-sp"><a class="ic-updates" href="https://t.me/accsmarket" rel="nofollow">@accsmarket</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
          <!--   <div class="ftr-center">
                <div class="container">
                    <div class="flex">
                        <div class="tex-res">
                            <img src="/template/accsmarket/picture/about.png" alt="">
                            <p>Support:</p>
                        </div>
                        <div class="create-ticket" id="support_ticket">
                            <a href="/en/tickets/new">New ticket / Ask a question </a>
                        </div>
                        <div id="sitemap">
                            <div>
                                <a href="/en/sitemap">Sitemap</a>
                                <a href="/en/privacy_policy_eu_citizens">Inforamtion for ЕU citizens</a>
                            </div>
                            <div>
                                <a href="/en/public-offer">Public offer</a>
                                <a href="/en/privacy-policy">Privacy policy</a>
                            </div>
                        </div>
                        <div class="soc_icon_block">
                            <a href="https://t.me/accsmarket" target="_blanc">
                                <img src="/template/accsmarket/picture/telegram.svg" alt="Telegram">
                            </a>
                            <a href="mailto:support@accsmarket.com" target="_blanc">
                                <img src="/template/accsmarket/picture/email-at.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->
            <div id="copyright" style="margin-top: 200px">
                <div class="container">
                    <div class="flex">
                        <div class="wrap">
                            <div class="l"> {$site.copyright}</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>