<header>
    <div class="hdr-top">
        <div class="container">
            <div class="flex">
                <p>
                    {$site.sitename} </p>
                <p class="xs-vis">
                    accounts store </p>
                <div id="navigation_right">
                    <div id="navigation_menu">
                        <!-- <a class="ic-updates" href="https://t.me/accsmarket" rel="nofollow">@accsmarket</a> -->
                    </div>
                    <div class="">
                        <!-- <a href="javascript:void(0);" class="registration-open">+ Sign Up</a> -->
                        <a href="javascript:void(0);" class="login-open">
                            <!-- <img src="" alt="user" > -->
                        </a>
                    </div>
                    <div id="language">
                        <!-- <span class="en">Eng</span> -->
                        <!-- <a href="/ru" class="ru">Рус</a> -->
                    </div>
                </div>
                <div id="head_mob_navigation">
                    <a href="#" class="open-menu"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="hdr-middle">
        <div class="container">
            <div id="language_mobile">
                <span class="en">Eng</span>
                <a href="/ru" class="ru">Рус</a>
            </div>
            <div class="flex">
                <ul class="flexbox" id="head_menu">
                    <li>
                        <div id="nav_support">
                            <a href="">社交账号购买</a>
                        </div>
                    </li>
                    <li>
                        <a href="/" class="active">主页</a>
                    </li>
                    <li>
                        <a href="/articlelist">教程相关</a>
                    </li>
                    <li>
                        <a href="/en/faq">技术新闻</a>
                    </li>
                    <li>
                        <a class="ic-provider" href="/en/partnerfaq">联系方式</a>
                    </li>
                    <li id="important">
                        <a href="#" class="important_link">
                            售后说明 </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>