{include file='layout/head'/}
<body>
    {include file='layout/header'/}
    <div class="am-container" style="padding:2px">
        <section class="am-panel" style="margin-top:5px;margin-bottom: 5px;border: #ccc 1px solid">
            <header class="am-topbar-inverse" style="padding:15px;color:#">
                <h3 class="am-panel-title" style="text-align:center">查看卡密</h3>
            </header>
            <div class="am-panel-bd">
                <ul class="am-list am-list-static">
                    <li>订单编号：{$order.goods_order}</li>
                    <li>商品名称：{$order.goods_name}</li>
                    <li>下单时间：{$order.createtime}</li>
                    <li>订单价格：{$order.goods_sum}元</li>
                    <li>购买数量：{$order.goods_num}件</li>
                    <li>联系方式：{$order.email}</li>
                    <li>支付类型：支付宝</li>
                    <li>发卡状态：已发卡</li>
                    <li>订单状态：<span style="color:green">{$order.statelist}</span></li>
                </ul>
            </div>
        </section>
        <script src="static/js/clipboard.min.js"></script>
        <script type="text/javascript" src="static/js/savetxt.js"></script>
        <section class="am-panel" style="margin-top:5px;margin-bottom: 5px;border: #ccc 1px solid;">
            <header class="am-topbar-inverse" style="padding:15px;color:#3c3c3c">
                <h3 class="am-panel-title" style="text-align:center;color: #fff">卡密信息</h3>
            </header>
            <div class="am-panel-bd" style="font-weight:bold;WORD-BREAK: break-all" id="target">
                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c8a4e6bba0a9bca9baa7bea988a4a1bbbce6babde5e5e5b8ba8ebd87ba98ac989f99e5e5e5b8fb8dffb2f1acfaa2e5e5e5f9f8f8f8faf1f8fef8fafbfcfdf1fa">
                    {volist name="order['order_content']" id="vo" }
                    {$vo}<br>
                    {/volist}
                </a><br>
            </div>
                <div style="text-align:right;padding: 10px">
                    <a class="am-btn am-topbar-inverse" style="color:#fff" href="{:url('/down',['out_trade_no'=>$order.goods_order])}">导出</a>
                    <button class="am-btn am-topbar-inverse" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn" onclick="copyUrl()">
                        复制
                    </button>
                    <a class="am-btn am-topbar-inverse" style="color:#fff" href="javascript:location.reload();">刷新</a>
                </div>
            <!--<div style="text-align:center;padding:10px">-->
            <!--    <a class="am-btn am-topbar-inverse" style="color:#fff" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn">复制</a>-->
            <!--    <a class="am-btn am-topbar-inverse" style="color:#fff" onclick="Export()">导出</a>-->
            <!--</div>-->
        </section>
        <hr>
        <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-6 am-thumbnails" style="margin-top:300px">
        </ul>
        {include file="layout/footer"}
    </div>
    
    
        <script type="text/javascript">
            function copyUrl() {
                var div = document.getElementById("target");
                if (document.body.createTextRange) {
                    var range = document.body.createTextRange();
                    range.moveToElementText(div);
                    range.select();
                } else if (window.getSelection) {
                    var selection = window.getSelection();
                    var range = document.createRange();
                    range.selectNodeContents(div);
                    selection.removeAllRanges();
                    selection.addRange(range);
                } else {
                    console.warn("none");
                }
                document.execCommand("Copy"); // 执行浏览器复制命令
        
                alert("已复制好，可贴粘。");
            }
    </script>
</body>


</html>