{include file="layout/head"}
<body>
    {include file="layout/header"}
    <div class="am-container-fluid" style="padding:2px">
        <div class="good-trade" style="padding:20px 20px 80px 20px">
            <ol class="am-breadcrumb">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/index/index/articlelist">文章列表</a>
                </li>
                <li class="am-active">售后说明</li>
            </ol>
            <div style="text-align:center;font-size:20px">售后说明</div>
            <div style="text-align:center;color:#999999">2019-05-15 02:34:45</div>
            <hr>
            {$site.service}
        </div>
        <div class="tongji">
        </div>
    </div>
    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                订单查询
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                请输入订单号/联系方式
                <input type="text" class="am-modal-prompt-input">
            </div>
            <div class="am-modal-footer">
                <button type="button" class="am-btn am-modal-btn am-btn-default am-btn-hollow" data-am-modal-cancel>取消</button>
                <button type="button" class="am-btn am-modal-btn am-btn-primary" data-am-modal-confirm>查询</button>
            </div>
        </div>
    </div>
</body>

</html>