<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
    <div class="am-container">
        <h1 class="am-topbar-brand" style="margin:0 10px 0 0;">
            <a href="/" class="am-text-ir" style="background-size: 130px 40px;"></a>
        </h1>
        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-2">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li><a href="/"><span class="am-icon-home am-icon-sm"></span> 首页</a></li>
                <li><a href="https://wpa.qq.com/msgrd?v=3&uin=123&site=qq&menu=yes" target="_blank"><i class="am-icon-qq am-icon-fw"></i> 客服</a></li>
                <li><a href="/articlelist.html?page=1&limit=15"><span class="am-icon-list-alt"></span> 公告</a></li>
            </ul>
            <div class="am-topbar-right">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li><a href="/search_pre"><span class="am-icon-search"></span> 订单查询</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>