<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FB Accounts | Verified by e-mail, there is no email in the set. Sex can be both male and female. The name of the accounts uses the Latin alphabet. Accounts are registered in IP addresses of different countries.</title>
    <meta name="description" content="The Facebook accounts are registered automatically. Verified by e-mail, there is no email in the set. Accounts are registered in IP addresses of different countries. The name of the accounts uses the Latin alphabet (example: Engelina Danzo). Sex can be bo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" href="https://accsmarket.com/ru/item/fb-accounts--verified-by-e-mail-there-is-no-email-in-the-set-sex-can-be-both-male-and-female-the-name-of-the-accounts-uses-the-latin-alphabet-accounts-are-registered-in-ip-addresses-of-different-count" hreflang="ru" />
    <link rel="alternate" href="https://accsmarket.com/en/item/fb-accounts--verified-by-e-mail-there-is-no-email-in-the-set-sex-can-be-both-male-and-female-the-name-of-the-accounts-uses-the-latin-alphabet-accounts-are-registered-in-ip-addresses-of-different-count" hreflang="en" />
    <link rel="canonical" href="https://accsmarket.com/en/item/fb-accounts--verified-by-e-mail-there-is-no-email-in-the-set-sex-can-be-both-male-and-female-the-name-of-the-accounts-uses-the-latin-alphabet-accounts-are-registered-in-ip-addresses-of-different-count" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2f464d">
    <meta name="theme-color" content="#ffffff">
    <meta name="yandex-verification" content="81c1ed26e0c30fe5" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2f464d">
    <meta name="theme-color" content="#ffffff">
    <meta name="yandex-verification" content="81c1ed26e0c30fe5" />
    <link href="/template/accsmarket/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/template/accsmarket/css/responsive.min.css">
    <link href="/template/accsmarket/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/template/accsmarket/css/responsive.min.css">
    <link rel="stylesheet" href="/template/accsmarket/css/style.min.css">
    <link rel="stylesheet" href="/template/accsmarket/css/media.min.css">
    <link rel="stylesheet" href="/static/js/css/layui.css">
    <meta name="description" content="Buy Facebook accounts, Instagram accounts, Twitter accs and more! Bulk and aged social media accounts. High quality!">
    <link rel="stylesheet" href="/template/accsmarket/css/style.min.css">
    <link rel="stylesheet" href="/template/accsmarket/css/media.min.css">
    <script src="/template/accsmarket/js/en.min.js"></script>
    <script src="/template/accsmarket/js/jquery-3.1.0.min.js"></script>
    <script src="/template/accsmarket/js/jquery-ui.min.js"></script>
    <script src="/static/js/layui.js"></script>
</head>
<style type="text/css">
a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
</style>
</head>

<body>
    <div class="main-wrapper">
        {include file='layout/header'/}
        <section class="soc-category" id="content" style="padding: 2px">
            <div class="container">
                <div class="flex">
                    <div itemscope>
                        <div class="recat">
                            <h1 itemprop="name">{$goods['name']}</h1>
                        </div>
                        <div class="magazines-left">
                            <div class="mag-img">
                                <img src="{$goods['image']?$goods['image']:$goods['category_image']}" alt="商品图片">
                            </div>
                            <p>
                                <span class="bold">商品库存：{$goods['goods_num']} 个 </span>
                            </p>
                            <p>
                                <span class="bold">每件商品：{$goods['goods_price']} 元</span>
                            </p>
                            <a href="#" style="margin-right:0;background-color:#eff3f6;border: 0px">
                                <button type="button" class="basket-button" onclick="pay({$goods.id})">
                                    <img src="/template/accsmarket/picture/ic-basket.png" alt=""><span>购买</span>
                                </button>
                            </a>
                        </div>
                        <div class="magazines-right recat" itemprop="description">
                            <p><strong>商品描述:</strong></p>
                            <p>{$goods['goods_content']}</p>
                            <p><strong>商品提示:</strong></p>
                            <p>
                                {$site.tip}
                            </p>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </section>
        {include file='layout/footer'/}
    </div>
    <div class="goods_buy layui-form" hidden style="padding: 5px 15px 10px 25px;">
        <div style="background-color: white">
            <input type="hidden" id="id" value="{$goods['id']}">
            <input type="hidden" id="name" value="{$goods['name']}">
            <input type="hidden" id="price" value="{$goods['goods_price']}">
            <input type="hidden" id="category_id" value="{$goods['category_id']}">
            <p><span>商品名称：</span><span>{$goods['name']}</span></p>
            <p><span>商品库存：</span><span>{$goods['goods_num']}个</span></p>
            <p><span>商品价格：</span><span>{$goods['goods_price']}元</span></p>
            <p><span>邮箱：</span><span><input type="" value="admin@qq.com" id="email" placeholder="输入邮箱便于查询订单"></span></p>
            <p><span>购买数量：</span><span><input type="" value="1" id="buy_num"></span></p>
        </div>
    </div>
</body>
<script type="text/javascript">
layui.use(['layer', 'form'], function() {
    layer = layui.layer
    form = layui.form
})

function pay($id) {
    layer.open({
        title: '商品购买',
        type: 1,
        area: ['350px', 'auto'],
        content: $('.goods_buy'),
        btn: ['确认', '取消'],
        yes: function(index, layero) {
            id = $('#id').val()
            name = $('#name').val()
            category_id = $('#category_id').val()
            price = $('#price').val()
            email = $('#email').val()
            num = $('#buy_num').val()
            id = $('#id').val()
            x = /^[0-9]*[1-9][0-9]*$/.test(num)
            y = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(email)
            if (!x) {
                layer.msg('请输入正确的数值')
                return false
            }
            if (!y) {
                layer.msg('请输入正确的邮箱')
                return false
            }
            item = { goods_id: id, name: name, category_id: category_id, goods_price: price, goods_num: num, email: email }
            $.post('/pay', item, function(data, textStatus, xhr) {
                function check(out_trade_no) {
                    timer = setInterval(function() {
                        $.ajax({
                            type: 'post',
                            url: '/state',
                            data: {
                                out_trade_no: out_trade_no,
                            },
                            success: function(state) {
                                if (state === '已付款') {
                                    clearInterval(timer)
                                    window.location.href = '/back?out_trade_no=' + out_trade_no;
                                } else {
                                    console.log(state);
                                }
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                console.log(XMLHttpRequest);
                            }
                        });
                    }, 3000);
                }
                check(data.out_trade_no)
                layer.close(index)
                layer.open({
                    title: '订单编号:' + data.out_trade_no,
                    type: 1,
                    area: ['350px', '400px'],
                    content: '<div style=margin-right:25px;margin-left:25px;><div style=margin-right:20px;margin-left:20px><div><div style=padding:15px><h3>使用支付宝支付' + data.price + '元</h3></div><div><img src=https://api.qrserver.com/v1/create-qr-code/?size=150×150&data=' + data.qr_code + '></div></div></div></div>',
                    cancel: function(index, layero){ 
                      clearInterval(timer)
                      layer.close(index)
                      return false; 
                    }   
                })
            });

        }
    })
}
</script>

</html>